/* Basic */


.browserupgrade {
  margin: 0;
  padding: 5px 15px;
  background-color: #ff851b;
  color: #fff;
  text-align: center;
}


/* Header */

.docs-header {
  margin-bottom: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  border-color: #0074d9;
}

.navbar-toggle .icon-bar {
  background-color: #0074d9;
}


/* Jumbotron */

.docs-jumbotron {
  background-color: #0074d9;
  color: #fff;
}

.docs-jumbotron .version {
  font-size: 14px;
  color: #fff;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.docs-carbonads-container {
  position: relative;
}

.docs-carbonads {
  max-width: 350px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.carbon-wrap {
  overflow: hidden;
}

.carbon-img {
  clear: left;
  float: left;
  display: block;
}

.carbon-text,
.carbon-poweredby {
  display: block;
  margin-left: 140px;
}

.carbon-text,
.carbon-text:hover,
.carbon-text:focus {
  color: #fff;
  text-decoration: none;
}

.carbon-poweredby,
.carbon-poweredby:hover,
.carbon-poweredby:focus {
  color: #ddd;
  text-decoration: none;
}

@media (min-width: 992px) {
  .docs-carbonads {
    position: absolute;
    right: 0;
    bottom: 5px;
  }
}


/* Content */

.docs-datepicker-container {
  display: none;
  position: relative;
  min-height: 160px;
  margin: 10px auto;
  border: 1px dashed #eee;
}

.docs-datepicker-container:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  margin-top: -10px;
  margin-left: -82px;
  font-size: 12px;
  line-height: 20px;
  color: #ccc;
  content: "Container for inline datepicker";
}

.docs-datepicker-container > .datepicker-container {
  margin: 10px auto;
}

.docs-options > .input-group {
  margin-bottom: 10px;
}

.docs-options > .input-group > .input-group-addon {
  min-width: 100px;
}

.docs-actions > .input-group,
.docs-actions > .btn-group,
.docs-actions > .btn {
  margin-bottom: 5px;
}

.docs-actions .input-group-btn {
  width: 50%;
}

.docs-actions .input-group-btn .btn {
  width: 100%;
}


/* Footer */

.docs-footer {
  overflow: hidden;
}

.links {
  text-align: center;
  margin-bottom: 30px;
}

.heart {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ddd;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.heart:hover {
  color: #ff4136;
}

.heart:before {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  display: block;
  height: 0;
  border-top: 1px solid #eee;
  content: " ";
}

.heart:after {
  position: relative;
  z-index: 1;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  content: "â™¥";
}

